<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Guest List</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        <div class="container">
            <div id="navigation">
                <div class="row" >
                    <div class="col-sm-12 text-center">
<!--                        <h1 ref="name" @click="titleChange" >{{appName}}</h1>-->
                        <hr>
                    </div>
                    <div>
                        <ul class="nav">
                            <template v-for="navLink in navLinks" :key="navLink.id">
                                <!--                                <li v-for="(value,key) in navLink">
                                                               <hr/>         <a :href=""> {{key}} | {{value}} </a>
                                                                </li>-->
                                <li class="nav-item" >
                                    <a class="nav-link" :href="navLink.url">{{navLink.name}}</a>
                                </li>

                            </template>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div id="app">

                <!--      <div class="row" v-bind:style="{marginTop:'25px'}">-->


                <div class="row" :style="appStyles">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                {{event.date}}
                            </div>
                            <div class="card-block">
                                <h4 class="card-title"  v-html='event.title'>{{event.title}}</h4><hr>
                                <p class="card-text">{{event.text}}</p>
                                <p class="card-text">{{event.text2}}</p>

                                <form class="form-inline" @submit.prevent="formSubmitted">
                                    <input type="text" id="nameInput" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Aya Mostafa"
                                           v-model="newNameText"
                                           @keyup.space="keyPressed"
                                           >
                                    <p v-once>{{newNameText}}</p>
                                    <!--                <input type="submit" class="btn btn-primary" v-bind:class="formSubmitClass"></input>-->
                                    <input type="submit" class="btn btn-primary" ></input>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" :style="appStyles">
                    <div class="col-sm-12">
                        <div class="card">
                            <!--            <div class="card-header" :class="formSubmitClass">-->
                            <div class="card-header" >
                                Attending ({{guestNames.length}})
                                <br/>
                                <progress :style="{width:eventCapacityPercentage+'%'}"></progress>
                            </div>
                            <div class="card-block">
                                <div>
                                    <div v-for="(name,index) in sortNames" class="card-success rounded name-box"
                                         :key="index">
                                        {{ name | formatName  }} ({{index}})
                                    </div>
                                </div>
                                <div  v-if="guestNames.length">
                                    <h4>{{guestNames}}</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script src="assets/vue.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
